<?xml version="1.0"?>
<config>
          <keyword>
          		   <item>class</item>
	              <item>public</item>
	              <item>static</item>
	              <item>int</item>
	              <item>boolean</item>
	              <item>char</item>
	              <item>long</item>
	              <item>float</item>
	              <item>byte</item>
	              <item>const</item>
	              <item>double</item>
	              <item>protected</item>
	              <item>private</item>
	              <item>public</item>
	              <item>package</item>
	              <item>import</item>
				  <item>void</item>
				  <item>native</item>
				  <item>static</item>
				  <item>abstract</item>
				  <item>override</item>
				  <item>do</item>
				  <item>if</item>
				  <item>else</item>
				  <item>while</item>
				  <item>for</item>
				  <item>foreach</item>
				  <item>switch</item>
				  <item>case</item>
				  <item>default</item>
				  <item>to</item>
				  <item>with</item>
				  <item>conforms</item>
				  <item>adapts</item>
				  <item>interface</item>
				  <item>meta</item>
				  <item>functor</item>
				  <item>delegate</item>	
				  <item>handles</item>
				  <item>forwards</item>
				  <item>all</item>
				  <item>rebindable</item>
				  <item>rebind</item>
				  <item>throw</item>
				  <item>decorates</item>
				  <item>try</item>
				  <item>catch</item>
				  <item>throw</item>
				  <item>finally</item>
				  <item>inherits</item>
				  <item>rebindable</item>
				  <item>rebind</item>
				  <item>throw</item>
				  <item>new</item>
				  <item>free</item>
				  <item>of</item>
				  <item>implements</item>
				  <item>return</item>
				  <item>override</item>
				  <item>multi</item>
				  <item>after</item>
				 <item>before</item>
				 <item>final</item>
				<item>instanceof</item>	
				<item>true</item>	
				<item>false</item>	
				<item>and</item>
				<item>or</item>
				<item>not</item>
				<item>null</item>
				<item>break</item>
				<item>continue</item>
				<item>singleton</item>
				<item>super</item>
				<item>this</item>
				<item>string</item>
				<item>short</item>
				<item>internal</item>	
				<item>execute</item>	
				<item>times</item>	
				<item>html</item>
				<item>htar</item>
          </keyword>
          <operator>
                <item>+</item>
                <item>-</item>
                <item>*</item>
                <item>/</item>
                <item>%</item>
                <item>?</item>
                <item>=</item>
                <item>!</item>
                <item>^</item>
                <item>|</item>
                        
          </operator>
          <puncutator>
  				<item>,</item>
  				<item>.</item>
  				<item>(</item>
  				<item>)</item>
  				<item>'</item>
  				<item>"</item>
  				<item>{</item>
  				<item>}</item>
  				<item>[</item>
  				<item>]</item>
  				<item>;</item>
  				<item>:</item>
				<item>@</item>
  				
          </puncutator>
</config>
